/* 
 * CSS file for Landing Page
 * Author: Lloyd Folks
 */

/* Sticky Footer using Flexbox - Start */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
	background-color: #e3e3e3;
}
/* Sticky Footer using Flexbox - End */

/* General Styling - Start */
header {
	background-color: #f1f1f1;
	border-bottom: 1px solid #ccc;
}
/* General Styling - End */

/* Media Queries */
/* For Mobile and Small Screen Views */
/*
@media only screen and (max-width: 600px) {
	.headerContent {
		margin: 0 5%;
		padding: 3% 0;
	}
	.landingLogo {
		
	}
	
}

/* For Tablet and Large Phone Screen Views */
/*
@media only screen and (min-width: 600px) {

}

/* For Landscape Tablet and Medium Screen Views */
/*
@media only screen and (min-width: 768px) {
	.headerContent {
		margin: 0 5%;
		padding: 3% 0;
	}
	.landingLogo {
		
	}
}

/* For Desktop and Large Screen Views */
/*
@media only screen and (min-width: 992px) {

}
*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.headerContent {
		margin: 0 5%;
		padding: 3% 0;
	}
	.landingLogo {
		
	}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
	.headerContent {
		margin: 0 5%;
		padding: 3% 0;
	}
	.landingLogo {
		
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	.headerContent {
		margin: 0 auto;
	}
	.landingLogo {
		margin: 0 auto;
		width: 74px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* iPad 3 (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio : 2),
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (min-resolution: 192dpi) { 

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

/* Retina displays ----------- */
@media  only screen 
and (-webkit-min-device-pixel-ratio : 2), 
only screen 
and (min-resolution: 192dpi) {

}